**/node_modules/
**/dist
**/.next
.git
.gitignore
npm-debug.log
.coverage
.coverage.*
.aws
_scripts
devops
.github
.vscode
*.tsbuildinfo
next-env.d.ts
README.md
TODO.txt
TODO.md
.env
.env.local
.env.development
.env.test
